@font-face {
    font-family: facile;
    src: url('fonts/Facile Sans.ttf');
}

@font-face {
    font-family: lato;
    src: url('fonts/Lato-Regular.ttf');
}

.navbar{
    padding: 30px;
    overflow: hidden;
    max-width: 15%;
    min-width: 5%;
    height: 100%;
    position: fixed;
  }
  
.navbar a{
    display: block;
    padding: 10px;
    font-family: lato;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
    
a:hover {
   text-decoration: underline;
   text-shadow: -1px 1px rgb(160, 159, 159);
   
}
  
html{
    background-image: linear-gradient(to right top, #2f4858, #405c67, #547075, #6c8584, #859994);
}
body{
    margin: 0; 
    padding: 0;
}

main{
    width: 1200px;
    margin: auto;
    min-height: 700px;
}

h1, h2{
    text-shadow:4px 4px rgb(160, 159, 159);
    font-family: facile;
    margin: 0px;
    font-size: 135px;
    color: #ffffff;
    text-align: right;
   
}

h3{
    color: white;
    font-size: 60px;
    font-family: lato;
    text-align: left;
}

p{
    font-family: 'lato';
    font-size: 18pt;
}

article{
    color:#FFFFFF;
    margin-right: 400px;
    font-family: 'verdana';
    font-size: 18pt;
    position: relative;
    width: 1000px;
    font-weight: 100;

}

.list{
    color:#FFFFFF;
    font-family: 'verdana';
    font-size: 18pt;
}

header{
    width: 1200px;
    margin:auto;
    margin-bottom: 20%;
    min-height: 700px;
    padding: 50px;
}

.spacing{
margin: 0px 0px 600px 100px;
}


class="rightAlign"