@font-face {
    font-family: facile;
    src: url('fonts/Facile Sans.ttf');
}

html{
    background-color: #A3BCB6;
    font-size-adjust: 0.58
}
body{
    margin: 0; 
    padding: 0;
    font-family: 'Helvetica';
    float: center;
}
main{
    width: 1500px;
    margin: 30px auto;
    min-height: 700px;
}
header{
    width: 1500px;
    margin: 30px auto;
    min-height: 300px;

}
h1, h2{
    font-family: facile;
    margin: 0px;
    font-size: 100px;
    color: #3C403D;
    text-align: right;
    position: static;
}

div{
    margin-left: 325px;
    position: relative;
}
h3{
    color: #DADED4;
    font-size: 50px;
    font-family: arial;
    text-align: left;
}
p{
    color:#FFFFFF;
    margin-right: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: relative;
    width: 800px;

}